---
http_interactions:
- request:
    method: get
    uri: https://onename.io/larry.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{\n  \"bitcoin\": {\n    \"address\": \"143xFrxppUD9oQE7mGvQFe23h814YorMBs\"\n
        \ }, \n  \"avatar\": {\n    \"url\": \"http://www.larrysalibra.com/images/custom/larry.png\"\n
        \ }, \n  \"facebook\": {\n    \"username\": \"larry.salibra\"\n  }, \n  \"cover\":
        {\n    \"url\": \"http://www.larrysalibra.com/images/custom/home_bg.png\"\n
        \ }, \n  \"instagram\": {\n    \"username\": \"larrysalibra\"\n  }, \n  \"location\":
        {\n    \"formatted\": \"Hong Kong\"\n  }, \n  \"linkedin\": {\n    \"url\":
        \"http://www.linkedin.com/in/larrysalibra\"\n  }, \n  \"github\": {\n    \"username\":
        \"larrysalibra\"\n  }, \n  \"v\": \"0.2\", \n  \"twitter\": {\n    \"username\":
        \"larrysalibra\"\n  }, \n  \"bio\": \"Founder/CEO Pay4Bugs\", \n  \"website\":
        \"http://www.larrysalibra.com\", \n  \"angellist\": {\n    \"username\": \"larry-salibra\"\n
        \ }, \n  \"pgp\": {\n    \"url\": \"https://keybase.io/larry/key.asc\", \n
        \   \"fingerprint\": \"B516CB7A08819697B25E4694DE3B5425164C4849\"\n  }, \n
        \ \"name\": {\n    \"formatted\": \"Larry Salibra\"\n  }\n}"
  recorded_at: Sun, 06 Apr 2014 14:00:02 GMT
- request:
    method: get
    uri: https://www.onename.io/bitcoinhater.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{\n \n  \"avatar\": {\n    \"url\": \"http://www.example.com/pic.png\"\n
        \ }, \n  \"name\": {\n    \"formatted\": \"Bitcoin Hater\"\n  }\n}"
  recorded_at: Sun, 06 Apr 2014 14:00:02 GMT
- request:
    method: get
    uri: https://www.onename.io/nothere.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: NOT FOUND
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sun, 06 Apr 2014 14:00:02 GMT
- request:
    method: get
    uri: https://onename.com/larry.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{\n  \"name\": {\n    \"formatted\": \"Larry Salibra\"\n  }, \n  \"location\":
        {\n    \"formatted\": \"Hong Kong\"\n  }, \n  \"avatar\": {\n    \"url\":
        \"https://s3.amazonaws.com/kd4/larry\"\n  }, \n  \"graph\": {\n    \"url\":
        \"https://s3.amazonaws.com/grph/larry\"\n  }, \n  \"pgp\": {\n    \"fingerprint\":
        \"B516CB7A08819697B25E4694DE3B5425164C4849\", \n    \"url\": \"https://s3.amazonaws.com/pk9/larry\"\n
        \ }, \n  \"facebook\": {\n    \"username\": \"larry.salibra\", \n    \"proof\":
        {\n      \"url\": \"https://facebook.com/larry.salibra/posts/947870672453\"\n
        \   }\n  }, \n  \"v\": \"0.2\", \n  \"linkedin\": {\n    \"url\": \"http://www.linkedin.com/in/larrysalibra\"\n
        \ }, \n  \"cover\": {\n    \"url\": \"https://s3.amazonaws.com/dx3/larry\"\n
        \ }, \n  \"bio\": \"Founder & CEO Pay4Bugs\", \n  \"github\": {\n    \"username\":
        \"larrysalibra\", \n    \"proof\": {\n      \"url\": \"https://gist.github.com/larrysalibra/510cc3fe4386f811b5bf\"\n
        \   }\n  }, \n  \"twitter\": {\n    \"username\": \"larrysalibra\", \n    \"proof\":
        {\n      \"url\": \"https://twitter.com/larrysalibra/status/492049735935459328\"\n
        \   }\n  }, \n  \"instagram\": {\n    \"username\": \"larrysalibra\"\n  },
        \n  \"angellist\": {\n    \"username\": \"larry-salibra\"\n  }, \n  \"website\":
        \"https://www.larrysalibra.com\", \n  \"bitcoin\": {\n    \"address\": \"1Q7zdhtkSMQp6Mp5ooyWyJgoXSLiApnmVT\"\n
        \ }\n}"
  recorded_at: Sun, 22 Feb 2015 11:58:29 GMT
- request:
    method: get
    uri: https://onename.com/nothere.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - text/html
    body:
      encoding: UTF-8
      string: "<html>\n  <head>\n    <title>Internal Server Error</title>\n  </head>\n
        \ <body>\n    <h1>Internal Server Error</h1>\n    \n  </body>\n</html>\n"
  recorded_at: Sun, 22 Feb 2015 11:58:31 GMT
- request:
    method: get
    uri: https://onename.com/bitcoinhater.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - text/html
    body:
      encoding: UTF-8
      string: "<html>\n  <head>\n    <title>Internal Server Error</title>\n  </head>\n
        \ <body>\n    <h1>Internal Server Error</h1>\n    \n  </body>\n</html>\n"
  recorded_at: Sun, 22 Feb 2015 11:58:32 GMT
- request:
    method: get
    uri: https://onename.com/pmarca.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - text/html
    body:
      encoding: UTF-8
      string: "<html>\n  <head>\n    <title>Internal Server Error</title>\n  </head>\n
        \ <body>\n    <h1>Internal Server Error</h1>\n    \n  </body>\n</html>\n"
  recorded_at: Sun, 22 Feb 2015 11:58:33 GMT
- request:
    method: get
    uri: http://openname.nametiles.dev/v2//larry.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"2bb9b1b06d25c6bd7f77588c62af6882"
    body:
      encoding: UTF-8
      string: '{"angellist":{"username":"larry-salibra"},"avatar":{"url":"https://s3.amazonaws.com/kd4/larry"},"bio":"Founder
        \u0026 CEO Pay4Bugs","bitcoin":{"address":"1Q7zdhtkSMQp6Mp5ooyWyJgoXSLiApnmVT"},"cover":{"url":"https://s3.amazonaws.com/dx3/larry"},"facebook":{"proof":{"url":"https://facebook.com/larry.salibra/posts/947870672453"},"username":"larry.salibra"},"github":{"proof":{"url":"https://gist.github.com/larrysalibra/510cc3fe4386f811b5bf"},"username":"larrysalibra"},"graph":{"url":"https://s3.amazonaws.com/grph/larry"},"instagram":{"username":"larrysalibra"},"linkedin":{"url":"http://www.linkedin.com/in/larrysalibra"},"location":{"formatted":"Hong
        Kong"},"name":{"formatted":"Larry Salibra"},"pgp":{"fingerprint":"B516CB7A08819697B25E4694DE3B5425164C4849","url":"https://s3.amazonaws.com/pk9/larry"},"twitter":{"proof":{"url":"https://twitter.com/larrysalibra/status/492049735935459328"},"username":"larrysalibra"},"v":"0.2","website":"https://www.larrysalibra.com"}'
  recorded_at: Mon, 23 Feb 2015 06:32:35 GMT
- request:
    method: get
    uri: http://openname.nametiles.dev/v2//nothere.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"error":"Openname nothere doesn''t exist"}'
  recorded_at: Mon, 23 Feb 2015 06:32:35 GMT
- request:
    method: get
    uri: http://openname.nametiles.dev/v2//bitcoinhater.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"error":"Openname bitcoinhater doesn''t exist"}'
  recorded_at: Mon, 23 Feb 2015 06:32:36 GMT
- request:
    method: get
    uri: http://openname.nametiles.dev/v2//pmarca.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"347382fb1b572025a03e43d948c1155b"
    body:
      encoding: UTF-8
      string: '{"message":"This username is reserved for Marc Andreessen. If this
        is you, please email reservations@onename.io to claim it for free.","status":"reserved"}'
  recorded_at: Mon, 23 Feb 2015 06:32:37 GMT
recorded_with: VCR 2.9.0
